body {
	background-color: #efefef;
}

.jobList {
	list-style: none;
	width: 50%;
	padding-left: 0px;
	padding-right: 0px;
}
.jobList li {
	background-color: #fff;
	margin: 10px 0px;
	padding-bottom: 10px;
	border: solid #cdcdcd 1px;
}
.jobList li p {
	margin: 5px;
}	
.jobList img {
	width: 100px;
	padding: 10px 0px;
}

.seach-form {
	background-color:  #dcdcdc;
	border: solid #cdcdcd 1px;
	margin-top: 20px;
	padding:  20px 0px 20px 0px;
}
